@import "tailwindcss";
@layer base {
    body {
        @apply m-0 p-0;
        font-family: "Roboto", sans-serif;
    }
    h1 {
        @apply text-4xl font-bold leading-snug;
    }
    h2 {
        @apply text-3xl font-bold leading-snug;
    }
    h3 {
        @apply text-2xl font-bold leading-snug;
    }
    h4 {
        @apply text-xl font-bold leading-relaxed;
    }
    h5 {
        @apply text-lg font-bold leading-loose;
    }
    h6 {
        @apply text-base font-bold leading-loose;
    }
    a {
        @apply text-blue-500 transition-all duration-300 ease-in-out;
    }
    a:hover {
        @apply opacity-75;
    }
    button {
        @apply bg-blue-500 text-white px-2 py-1 rounded transition-all cursor-pointer;
    }
    button:hover {
        @apply opacity-80;
    }
    button:active {
        @apply scale-95;
    }
    table {
        @apply min-w-full overflow-auto bg-white whitespace-nowrap;
        td {
            @apply px-4 py-2 border border-gray-100;
        }
        th {
            @apply px-4 py-2 text-lg leading-loose capitalize text-center bg-white border border-gray-100 border-t-2;
        }
    }
}
.btn-transparent {
    @apply bg-transparent;
    color: var(--foreground);
}
.form-input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-sm;
}
.form-input:focus {
    @apply outline-none ring-1 ring-blue-500;
}
.form-input:disabled {
    @apply bg-gray-100 text-gray-500;
}
.form-select {
    .form-select__control {
        @apply border border-gray-300 rounded-sm px-1 py-0.5;
    }
    .form-select__control--is-disabled {
        @apply bg-gray-100;
    }
    .form-select__single-value--is-disabled {
        @apply text-gray-500;
    }
}